@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --unit: 10px;
  --Poppins: "Poppins", sans-serif;
  --Montserrat: "Montserrat", sans-serif;

  --size-xs: 12px;
  --size-s: 14px;
  --size-m: 16px;
  --size-l: 24px;
  --size-xl: 32px;
  --size-2xl: 48px;

  --span-xs: var(--unit);
  --span-s: calc(var(--unit) * 2);
  --span-m: calc(var(--unit) * 3);
  --span-l: calc(var(--unit) * 4);
  --span-xl: calc(var(--unit) * 5);
  --span-2xl: calc(var(--unit) * 6);

  --weight-xsm: 300;
  --weight-sm: 400;
  --weight-md: 500;
  --weight-lg: 600;
  --weight-xlg: 700;
  --weight-xxlg: 800;
  --weight-2xxlg: 900;

  --white: #ffffff;
  --body-bg: #f6f8fa;
  --header: #002e42;
  --paragraph: #a5b0b5;
  --border: #a5b0b5;
  --text-blue: #029ae1;
  --focus: #89d6fb;
  --btn: #029ae1;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: var(--Montserrat);
  background-color: var(--body-bg);
}

.logo {
  padding-top: var(--span-m);
  padding-left: var(--span-l);
}

.logo__link {
  display: inline-block;
}

.logo__image {
  display: block;
  width: 48px;
  height: 47px;
}

.form {
  background-color: var(--white);
  max-width: 840px;
  margin: 0 auto;
  border-radius: 15px;
  padding: var(--span-2xl) calc(var(--span-2xl) + var(--span-2xl));
  padding-bottom: var(--span-s);
}

.form__header {
  font-family: var(--Montserrat);
  font-size: calc(var(--size-l) + 10px);
  font-style: normal;
  font-weight: var(--weight-xxlg);
  line-height: 45px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--header);
}

.form__paragraph {
  font-family: var(--Montserrat);
  font-size: calc(var(--size-s));
  font-style: normal;
  font-weight: var(--weight-md);
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--paragraph);
}

.form__wrapper {
  margin-top: var(--span-m);
  display: grid;
  gap: 20px;
}

.form__input {
  outline: none;
  display: block;
  width: 100%;
  border-radius: 10px;
  border: 1px solid var(--border);
  padding: var(--span-s) var(--span-m);

  font-family: var(--Montserrat);
  font-size: calc(var(--size-m));
  font-weight: var(--weight-md);
  color: var(--paragraph);
  text-transform: capitalize;
  transition: all 300ms;
}

.form__input:focus {
  border: 1px solid var(--focus);
}

.form__input::-webkit-input-placeholder {
  font-family: var(--Montserrat);
  font-size: calc(var(--size-m));
  font-weight: var(--weight-md);
  color: var(--paragraph);
  text-transform: capitalize;
}

.form__query {
  margin-top: var(--span-xs);
  font-family: var(--Montserrat);
  font-size: calc(var(--size-xs));
  font-weight: var(--weight-sm);
  color: var(--paragraph);
  text-align: right;
}

.form__link {
  text-decoration: none;
  color: var(--text-blue);
}

.form__box {
  display: flex;
  justify-content: center;
  margin-top: var(--span-l);
}

.form__btn {
  outline: none;
  border: none;
  background-color: var(--btn);
  border-radius: 10px;
  cursor: pointer;
  padding: var(--span-s) var(--span-2xl);
  color: var(--white);
  font-family: var(--Montserrat);
  font-size: calc(var(--size-m));
  font-weight: var(--weight-md);
}

.auth {
  margin-top: var(--span-s);
}

.auth__paragraph {
  font-family: var(--Montserrat);
  font-size: calc(var(--size-m));
  font-weight: var(--weight-sm);
  line-height: 25px;
  color: var(--paragraph);
}

.auth__btn {
  margin-top: var(--span-s);
  display: inline-block;
  outline: none;
  border: none;
  cursor: pointer;
  background: transparent;
  padding: var(--span-xs);
  border: 1px solid var(--border);
  border-radius: 10px;
}
